.row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.row img {
  height: 24px;
  width: 24px;
}

.row p {
  color: var(--neutral-600);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
