.error {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 4px;
  gap: 12px;
  background-color: var(--red-50);
  color: var(--red-600);
  font-weight: 500;
  border-radius: 50px;
}

.error span {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  background-color: var(--white);
  border-radius: 50px;
  color: var(--red-800);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
