.toast {
  position: fixed;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  animation: fadeInOut 3s ease-in-out;
  z-index: 1000;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .toast {
    position: fixed;
    top: 36px;
    z-index: 1000;
  }
}

@media screen and (max-width: 768px) {
  .toast {
    position: fixed;
    top: 56px;
    z-index: 1000;
    width: calc(100% - 32px);
  }
}